c0392b/*Add your CSS*/
html{
  height: 100%;
  background: #fff;
}
.screen-splash,
.screen-main {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.lg-foodmap{
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  z-index: 1;
}
.bg-foodmap{
  background-color: #c0392b;
}
.text-foodmap{
  color: #c0392b;
}
.border-foodmap{
  border:1px solid #c0392b;
}
.screen-main{
  display: none;
}
/* Set the size of the div element that contains the map */
#map {
 height: 180px;  /* The height is 400 pixels */
 width: 100%;  /* The width is the width of the web page */
}
.form-control-foodmap {
    color: #2B2B2B;
    background-color: #fff;
    border: 1px solid #c0392b;
}
.form-control-foodmap::-webkit-input-placeholder {
   color: #c0392b;
}

.form-control-foodmap:-moz-placeholder { /* Firefox 18- */
   color: #c0392b;
}

.form-control-foodmap::-moz-placeholder {  /* Firefox 19+ */
   color: #c0392b;
}

.form-control-foodmap:-ms-input-placeholder {
   color: #c0392b;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #fff;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group-text{
  background-color: #c0392b;
  border:1px solid #e25020;
}
#food-thumbs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#food-thumbs li, .item-foodmap{
  width: 50%;
  margin: 0 0 10px 0;
  padding: 0 10px 0 0;
  list-style: none;
  text-align: center;
}
#food-thumbs li p, .item-foodmap p{
  background-color: #c0392b;
  padding: 5px 10px;
  color: #fff;
  font-size: 0.8rem;
  margin: 0;
}
#food-thumbs li img, .item-foodmap img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
